/client/node_modules/
/client/build/
/client/.gitignore
/client/package-lock.json
/client/README.md
/server/node_modules/
/server/build/
/server/.gcloudignore
/server/.gitignore
/server/package-lock.json
/server/local.js

node_modules/
build/

/client/src/assets/