#footer-content {
    z-index: -1;
    background-color: #191927;
}

#footer-content h3 {
    color: #BB86FC;
}

.footer-list-item {
    background-color: #191927 !important;
    border-color: #191927 !important;
    color: #DBDBDB !important;
}

.footer-list-item:hover {
    background-color: #222230 !important;
    color: #F070A1 !important;
}

#carlos-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#copyright-line {
    background-color: #10101a !important
}